// fonts
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Schoolbell&display=swap");

$header-font: "Schoolbell", verdana, sans-serif !important;
$body-font: "Baloo 2", sans-serif, monospace !important;

// color theme colors
$dark-wheat: #f5d6c0;
$salmon: #ff8b72;
$tarawera: #063a4e;
$viridian: #41806b;
$chardonnay: #ffc88a;
$mandys-pink: #f5b6a8;
$fuzzy-brown: #bf6854;

// colors
$body-bg: $dark-wheat;
$header-bg: $tarawera;
$footer-bg: $tarawera;
$h1-color: $chardonnay;
$h2-color: $viridian;
$body-text: $tarawera;
$btn-font-color: $dark-wheat;
$btn-bg: $salmon;
$pink: chardonnay;
$btn-3d: $viridian;
$btn-border: $tarawera;
$btn-hover: $mandys-pink;
$btn-shadow: $chardonnay;
$btn-disable: $fuzzy-brown;
$btn-active: $fuzzy-brown;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $body-text;
  background-color: $body-bg;
  font-family: $body-font;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  min-height: 100vh;
}

header {
  background-color: $header-bg;
  padding: 1rem 2rem;
  width: 100vw;
  flex: none;
  position: relative;
  h1 {
    font-family: $header-font;
    color: $h1-color;
    font-size: 4.5rem;
  }
  // &::after {
  //   content: "";
  //   width: 100vw;
  //   height: 7rem;
  //   top: 70%;
  //   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23063a4e' fill-opacity='1' d='M0,192L30,186.7C60,181,120,171,180,149.3C240,128,300,96,360,112C420,128,480,192,540,202.7C600,213,660,171,720,165.3C780,160,840,192,900,192C960,192,1020,160,1080,144C1140,128,1200,128,1260,117.3C1320,107,1380,85,1410,74.7L1440,64L1440,0L1410,0C1380,0,1320,0,1260,0C1200,0,1140,0,1080,0C1020,0,960,0,900,0C840,0,780,0,720,0C660,0,600,0,540,0C480,0,420,0,360,0C300,0,240,0,180,0C120,0,60,0,30,0L0,0Z'%3E%3C/path%3E%3C/svg%3E");
    
  //   background-size: cover;
  //   outline: 2px solid red;
  //   position: absolute;
  //   left: 0;
  // }
}

main {
  flex: 1;
  padding: 1.5em;
  article {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    align-items: left;
    margin-bottom: 1rem;
    h2 {
      font-size: 1.5rem;
      color: $h2-color;
      margin-bottom: 1.5rem;
    }
  }
}

footer {
  position: relative;
  height: 30vh;
}

#footer {
  // background-color: $footer-bg;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23063a4e' fill-opacity='1' d='M0,192L34.3,197.3C68.6,203,137,213,206,218.7C274.3,224,343,224,411,213.3C480,203,549,181,617,176C685.7,171,754,181,823,170.7C891.4,160,960,128,1029,128C1097.1,128,1166,160,1234,165.3C1302.9,171,1371,149,1406,138.7L1440,128L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z'%3E%3C/path%3E%3C/svg%3E") center bottom no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  p {
    text-align: center;
    color: $chardonnay;
    padding: 1rem;
  }
}

#startGameBtn {
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
}

#letterButtons {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  button {
    margin: 1.2rem 0.5rem;
  }
}

#topGameBoard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

}

#letterBoxes {
  li {
    display: inline-flex;
  }
  input {
    border: 2px solid $btn-border;
    border-radius: 0.5rem;
    font-family: $body-font;
    color: $viridian;
    font-size: 3rem;
    font-weight: 600;
    margin: 0 0.5rem;
    padding: 1rem 0;
    text-align: center;
    width: 5rem;
  }
}

#bottomGameBoard {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

#message {
  font-family: $header-font;
  font-size: 4rem;
  margin-top: 3rem;
}

#hangman {
  margin-bottom: 5rem;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.btn {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 2rem;
  font-family: $body-font;
  font-weight: 700;
  color: $body-text;
  text-transform: uppercase;
  padding: 0.2rem 0;
  min-width: 4.4rem;
  background: $btn-bg;
  border: 2px solid $btn-border;
  border-radius: 0.5em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1);
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $btn-3d;
    border-radius: inherit;
    box-shadow: 0 0 0 2px $btn-border, 0 0.8rem 0 0 $btn-shadow;
    transform: translate3d(0, 0.8rem, -1rem);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
      box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  }
  &:hover {
    background: $btn-hover;
    transform: translate(0, 0.4rem);
    &::before {
      box-shadow: 0 0 0 2px $btn-border, 0 0.5rem 0 0 $btn-shadow;
      transform: translate3d(0, 0.5rem, -1rem);
    }
  }
  &:active {
    background: $btn-active;
    transform: translate(0em, 0.75rem);
    &::before {
      box-shadow: 0 0 0 2px $btn-border, 0 0 $btn-shadow;
      transform: translate3d(0, 0, -1em);
    }
  }
  &:disabled {
    background: $btn-disable;
    transform: translate(0em, 0.75rem);
    &::before {
      box-shadow: 0 0 0 2px $btn-border, 0 0 $btn-shadow;
      transform: translate3d(0, 0, -1em);
    }
  }
}
