// fonts
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Schoolbell&display=swap");

$header-font: "Schoolbell", verdana, sans-serif !important;
$body-font: "Baloo 2", sans-serif, monospace !important;

// color theme colors
$dark-wheat: #f5d6c0;
$salmon: #ff8b72;
$tarawera: #063a4e;
$viridian: #41806b;
$chardonnay: #ffc88a;
$mandys-pink: #f5b6a8;
$fuzzy-brown: #bf6854;

// colors
$body-bg: $dark-wheat;
$header-bg: $tarawera;
$footer-bg: $tarawera;
$h1-color: $chardonnay;
$h2-color: $viridian;
$body-text: $tarawera;
$btn-font-color: $dark-wheat;
$btn-bg: $salmon;
$btn-3d: $viridian;
$btn-border: $tarawera;
$btn-hover: $mandys-pink;
$btn-shadow: $chardonnay;
$btn-disable: $fuzzy-brown;
$btn-active: $fuzzy-brown;

// reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $body-text;
  background-color: $body-bg;
  font-family: $body-font;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  min-height: 100vh;
}

header {
  background-color: $header-bg;
  padding: 1rem 2rem;
  width: 100vw;
  flex: none;
  position: relative;
  h1 {
    font-family: $header-font;
    color: $h1-color;
    font-size: 4.5rem;
  }
}

main {
  flex: 1;
  padding: 1.5em;
  article {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    align-items: left;
    margin-bottom: 1rem;
    h2 {
      font-size: 1.5rem;
      color: $h2-color;
      margin-bottom: 1.5rem;
    }
  }
}

// flexbox for nicer positioning of <p>
footer {
  background-color: $footer-bg;
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  p {
    color: $chardonnay;
    padding: 1rem;
  }
}

// unique positioning and font-size for start button (not letter buttons)
#startGameBtn {
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1.2rem;
}

// flexbox for positioning letter buttons
// unique margin for letter buttons (not start button)
#letterButtons {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  button {
    margin: 1.2rem 0.5rem;
  }
}

// flexbox to position start button and letter boxes more nicely
#topGameBoard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

}

// colors and other styling for letter boxes
#letterBoxes {
  li {
    display: inline-flex;
  }
  input {
    border: 2px solid $btn-border;
    border-radius: 0.5rem;
    font-family: $body-font;
    color: $viridian;
    font-size: 3rem;
    font-weight: 600;
    margin: 0 0.5rem;
    padding: 1rem 0;
    text-align: center;
    width: 5rem;
  }
}

// flexbox to position hangman-image and message-div more nicely
#bottomGameBoard {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

#message {
  font-family: $header-font;
  font-size: 4rem;
  margin-top: 3rem;
}

#hangman {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

// makes an invisible line break
.break {
  flex-basis: 100%;
  height: 0;
}

// animation, colors, position and styles for all buttons
.btn {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 2rem;
  font-family: $body-font;
  font-weight: 700;
  color: $body-text;
  text-transform: uppercase;
  padding: 0.2rem 0;
  min-width: 4.2rem;
  background: $btn-bg;
  border: 2px solid $btn-border;
  border-radius: 0.5em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1);
  // 3d-effect on buttons
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $btn-3d;
    border-radius: inherit;
    box-shadow: 0 0 0 2px $btn-border, 0 0.8rem 0 0 $btn-shadow;
    transform: translate3d(0, 0.8rem, -1rem);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
      box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  }
  // 3d-effect and colors on buttons when hovering
  &:hover {
    background: $btn-hover;
    transform: translate(0, 0.4rem);
    &::before {
      box-shadow: 0 0 0 2px $btn-border, 0 0.5rem 0 0 $btn-shadow;
      transform: translate3d(0, 0.5rem, -1rem);
    }
  }
  // 3d-effect and colors on buttons when clicking
  &:active {
    background: $btn-active;
    transform: translate(0em, 0.75rem);
    &::before {
      box-shadow: 0 0 0 2px $btn-border, 0 0 $btn-shadow;
      transform: translate3d(0, 0, -1em);
    }
  }
  // 3d-effect and colors on buttons when disabled
  &:disabled {
    background: $btn-disable;
    transform: translate(0em, 0.75rem);
    &::before {
      box-shadow: 0 0 0 2px $btn-border, 0 0 $btn-shadow;
      transform: translate3d(0, 0, -1em);
    }
  }
}
